<!-- <div class="jumbotron text-center">
    <div data-ng-controller="accountController" data-ng-init="getAccountDetails()"></div>
    <!-- <h1>Account Page</h1>
    <p>{{ message }}</p> -->


<div data-ng-controller="accountDetailsController" data-ng-init="getAccountDetails()">
    <div class = "col-lg-2">

			<div class = "list-group">
				<a href="#" class = "list-group-item">
					<h4 class = "list-group-item-heading">Account: {{accountDetails.handlename}}</h4>
					<h4 class = "list-group-item-heading">Name: {{accountDetails.name}}</h4>
					<h4 class = "list-group-item-heading">Followers: {{accountDetails.followedBy.length}}</h4>
					<h4 class = "list-group-item-heading">Following: {{accountDetails.following.length}}</h4>
					<h4 class = "list-group-item-heading">Email: {{accountDetails.email}}</h4>
					<h4 class = "list-group-item-heading">Account Created: {{accountDetails.dateCreated}}</h4>
				</a>
			</div>
	
    </div>

<!-- Commenting out to test the search box -->
<!-- 	<div class = "container">
		<div class ="row">
			<div class = "col-lg-10">
				<div class = "panel panel-default">
					<div class = "panel-body">

			          
			            <div class="col-lg-4 col-lg-offset-4">
			                <div class="input-group">
			                    <input type="text" class="form-control", ng-model="searchToken"/> 
			                    <span class="input-group-btn">
			                        <button class="btn btn-default" type="button" ng-click="doSearch()">Go!</button>
			                    </span>
			                </div>
			            </div>

						<div class = "page-header">
							<h1>Messages posted by: {{accountDetails.handlename}}</h1>
						</div>
						<h3 ng-repeat="message in recentMessages">{{ message.status_message }} <small> Posted on {{message.dateCreated}}</small></h3>

					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class = "container">
		<div class ="row">
			<div class = "col-lg-10">
				<div class = "panel panel-default">
					<div class = "panel-body">

			          
			            <div class="col-lg-4 col-lg-offset-4">
			                <div class="input-group">
			                    <input type="text" class="form-control", ng-model="searchToken"/> 
			                    <span class="input-group-btn">
			                        <button class="btn btn-default" type="button" ng-click="doSearch()">Go!</button>
			                    </span>
			                </div>
			            </div>

						<div class = "page-header">
							<!-- <h1>Messages posted by: {{accountDetails.handlename}}</h1> -->
						</div>
						
						<h3 ng-repeat="result in searchResults">{{ result.message.status_message }} 
							<small> 								
									Posted by <a href ='#/account'>{{result.accountHandle}}</a>
							</small>
						</h3>

					</div>
				</div>
			</div>
		</div>
	</div>