<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">Login Into Your Account</h1>
                <div ng-show="loggedOut">
                    <h3 class="text-center bg-danger" >We are sorry to see you go :(</h3>
                </div>
            </div>

            <div class="modal-body">
                <form class="col-md12 center-block">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Username" , ng-model="usrName"
                               required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Password" , ng-model="pwd"
                               required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-block btn-lg btn-primary" value="Login" ng-click="login()">
                        <span class="pull-right"><a href="#">Register</a> </span><span><a href="#">Forgot Password</a> </span>
                    </div>
                </form>

                <div class="modal-footer">
                    <div class="col-md-12">
                        <button class="btn">Cancel</button>
                    </div>

                    <div class="alert alert-warning alert-dismissible inner" ng-show="ui.alert">
                        <button type="button" class="close" ng-click="ui.alert = false">
                            &times;
                        </button>
                        <p class="text-center"> <strong>Incorrect Credentials!</strong></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

